nav.fixed-top {
  height: 70px;
  width: 100%;
  background-color: rgb(21, 11, 87)!important;
  border-bottom: 2px solid darkred;
}

ul {
  display: block;
  width: 50%;
}

a.page-refresh {
  width: 33%;
}

li {
  text-align: center;
  color: whitesmoke;
}

span.score {
  width: 49%;
  color: whitesmoke!important;
}